h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
  }
  
  h2 {
    margin-bottom: 2em;
  }
  
  h3 {
    font-size: 2em;
  }
  
  .section {
    min-height: 100vh; 
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #4a4a4a;
    background-color: #e9e9f1;
    scroll-behavior: smooth;
  }
  
  .container {
    min-height: calc(100vh - 72px);
    margin-top: 72px;
  }
  
  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
  }
  
  .row-title {
    text-align: center;
    margin-bottom: 1em;
  }

